@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #E9EAEE;
}

svg {
	height: 1em;
}

#header #header-p {
	display: none;
}

#hl headline {
	display: none;
}

#hl #headline-p {
	font-style: italic;
	font-size:16px;
}

h1 {
	font-family:  "Raleway", Helvetica Neue, Helvetica, sans-serif;
	padding-top: 3em;
}

h2 {
	color: #BC6026;
}

nav{
	position: fixed;
	top: 0;
	background-color: #181C22;
	margin-right: 15px;
	font-size: 16px;
	width: 100%;
	font-variant: small-caps;
}
nav ul {
	margin-top: 10px;
}
nav li{
	display: inline;
	padding: 0.5em; 
}
nav li a {
	color: white;
}
nav li a:hover {
    color: ##D87E28;
    text-decoration: none;
}

nav svg path {
   	fill: white; 
}

#info {
	padding: 2em;
	font-size: 16px;
	background-color: #dbdce3;
	width: 100%;
	text-align: center;
	fill: #D87E28;
	border-radius: 5px；	
}
#map img {
		border-radius: 5px;
}


.menu{
	color: #D87E28;
	font-size: 30px;
	margin-left: 1em;
}
.sub {
	margin-left: 0.5em;
	font-size: 25px;
}
dt {
	margin-left: 0.7em;
}
dd {
	display: block;
	font-style: italic;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1.7em;
    margin-right: 1em;
}


#story {
	background-color: #dbdce3;
	width: 100%;
	padding-bottom:2em;
}
#big {
	font-size: 30px;
	color: #D87E28;
	margin-top: 1em;
}
#woman img {
	float: right;
	max-height: 300px;
	margin-left: 1em;
	border-radius: 5px;
}


#footer {
	border-top: 3px #D87E28 solid; 
	background-color: #afb3c2;
	font-size: 12px;
	padding-top: 1em;
	clear: both;
}

@media screen and (min-width: 769px) {
	#woman img {
			max-height: 400px;
	}
}
@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }
    h2 {
		text-align: center;
		border-radius: 0.5em;
	}	
	nav li{
		padding-left: 1em;
		padding-right: 1em;
	}	
	nav {
		background-color: rgba(24, 28, 34, 0.8); 
	}
	header {
		background-image: url("../img/background-sm.jpg");
		background-repeat: no-repeat;
		min-height: 550px;
		color: white;
		text-align: right;
	}

	#header #header-p  {
		display: block;		
	}
	#hl headline {
		display: block;
		text-align: center;
		fill: #D87E28;
		height: 1.5em;
		margin-top: 2em;
	}
	#hl #headline-p {
		text-align: center;
		font-size: 1.25em;
		padding-top: 1em;
		padding-bottom: 3em;
	}
	#info {
		font-size: 20px;
	}
	#big {
		text-align: center;
	}
	#main {
		text-align: center;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	#second {
		text-align: right;
	}
}

@media screen and (min-width: 992px) {
	h1 {
		font-size: 4em;
	}
	header {
		background-image: url("../img/background-md.jpg");
		background-repeat: no-repeat;
	}

	#header #header-p {
		display: block;		
	}
	#hl headline {
		display: block;
		text-align: center;
		fill: #D87E28;
		height: 1.5em;
		margin-top: 2em;
	}
	#hl #headline-p {
		text-align: center;
		font-size: 1.25em;
		padding-top: 1em;
		padding-bottom: 3em;
	}
	#info {
		font-size: 20px;
	}
	#big {
		text-align: center;
	}
	#main {
		text-align: center;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	#second {
		text-align: right;
	}

}

@media screen and (min-width: 1200px) {
	header {
		background-image: url("../img/background-lg.jpg");
		background-repeat: no-repeat;
	}
	#header #header-p {
		display: block;		
	}
	#hl headline {
		display: block;
		text-align: center;
		fill: #D87E28;
		height: 1.5em;
		margin-top: 2em;
	}
	#hl #headline-p {
		text-align: center;
		font-size: 1.25em;
		padding-top: 1em;
		padding-bottom: 3em;
	}
	#info {
		font-size: 20px;
	}
	#big {
		text-align: center;
	}
	#main {
		text-align: center;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	#second {
		text-align: right;
	}
}